@import url('https://fonts.googleapis.com/css?family=Exo+2:100');

$colorBlockDefault: #1698D9;
$colorBlockDefaultHover: #2EA8E6;
$colorBlockSelected: #D91667;
$colorBlockSelectedHover: #E52E7A;
$colorBlockDisable: #B3B3B3;

$colorTextTitle: #fff;
$colorTextAdv: #666;
$colorTextBlockTitle: #000;
$colorTextDisable: #b3b3b3;
$colorTextDownEmpty: #ffff66;
$colorTextLink: #1698d9;

body {
 padding: 0;
 margin: 0;
 background-image: url('/bg.png');
}
.bg-body{
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
.block-title{
  text-align: center;
  flex:0 0 100%;
  align-self:flex-end;
}

.title{
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: $colorTextTitle;
}

.blocks{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 height: 100vh;
 position: relative;
 z-index: 2;
}

.block{
  margin:40px;
  align-self:flex-start;
  flex-basis: 320px;
  &__main{
    background: linear-gradient(135deg, transparent 25px, $colorBlockDefault 0) top left;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
    text-align: center;
    &.hover{
      background: linear-gradient(135deg, transparent 25px, $colorBlockDefaultHover 0) top left;
    }
    &.empty{
      background: linear-gradient(135deg, transparent 25px, $colorBlockDisable 0) top left;
      & .block{
        &__title{
          color: $colorTextDisable;
        }
        &__adv{
          color: $colorTextDisable;
        }
        &__additive{
          color: $colorTextDisable;
        }
        &__portions{
          color: $colorTextDisable;
        }
        &__cat{
          opacity: 0.6;
        }
      }
    }
    &.buy{
      background: linear-gradient(135deg, transparent 25px, $colorBlockSelected 0) top left;
      &.hover{
        background: linear-gradient(135deg, transparent 25px, $colorBlockSelectedHover 0) top left;
      }
    }
  }
  &__mouse{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
  &__aux{
    position: relative;
    background: linear-gradient(135deg, transparent 24px, #f2f2f2 0) top left;
    border-radius: 9px;
    padding-bottom: 280px;
    overflow: hidden;
  }
  &__title{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 48px;
    text-align: left;
    margin: 0 0 0 45px;
  }
  &__adv{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 20px 0 20px 45px;
    color: $colorTextAdv;
    &_hover{
      color: #e62e7a;
    }
  }
  &__additive{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 0 0 0 45px;
  }
  &__portions{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-left: 45px;
    max-width: 130px;
    word-wrap: break-word;
    color: $colorTextAdv;
    &_bold{
      font-weight: 600;
    }
  }
  &__cat{
    background-image: url('/funbox_logo.png');
    background-repeat: no-repeat; 
    background-size: 368px 360px;
    position: absolute;
    left: -35px;
    bottom: -100px;
    z-index: 3;
    width: 368px;
    height: 360px;
  }
  &__weight{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    margin: 12px;
  }
}

.weight{
  background-color: $colorBlockDefault;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  &.hover{
    background-color: $colorBlockDefaultHover;
  }
  &.empty{
    background-color: $colorBlockDisable;
  }
  &.buy{
    background-color: $colorBlockSelected;
    &.hover{
      background-color: $colorBlockSelectedHover;
    }
  }
  &__kg{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 42px;
    line-height: 22px;
    color: $colorTextTitle;
    margin: 20px 0 0 0;
  }
  &__text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 21px;
    line-height: 22px;
    margin: 10px 00;
    color: $colorTextTitle;
  }
}

.block-down{
  text-align: center;
  margin-top: 15px;
  &__text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: $colorTextTitle;
    &_empty{
      color: $colorTextDownEmpty;
    }
  }
  &__input{
    font-family: 'Trebuchet MS', sans-serif;
    width: 320px;
    background-color: transparent;
    border: 0;
    color: $colorTextTitle;
    text-align: center;
    font-size: 13px;
  }
  &__link{
    color: $colorTextLink;
    border-bottom: 1px dashed $colorTextLink;
    cursor: pointer;
  }
}
