@import url('https://fonts.googleapis.com/css?family=Exo+2:100');

$colorBlockDefault: #1698D9;
$colorBlockSelected: #D91667;
$colorBlockDisable: #B3B3B3;


$colorTextTitle: #fff;
$colorTextAdv: #666;
$colorTextBlockTitle: #000;
$colorTextDisable: #b3b3b3;
$colorTextDownEmpty: #ffff66;
$colorTextLink: #1698d9;


body {
 padding: 0;
 margin: 0;
 background-image: url('../img/bg.png');
}
.bg-body{
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.container{
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  position: relative;
  z-index: 2;
}
.block-title{
  text-align: center;
}

.title{
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  color: $colorTextTitle;
}

.blocks{
 display: flex;
 flex-wrap: wrap;
 margin: 25px 0;
}


.block{
  flex: 0 0 320px;
  margin:0 40px;
  &__main{
    background: linear-gradient(135deg, transparent 25px, $colorBlockDefault 0) top left;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
  }
  &__aux{
    position: relative;
    background: linear-gradient(135deg, transparent 24px, #f2f2f2 0) top left;
    border-radius: 9px;
    padding-bottom: 300px;
    overflow: hidden;
  }
  &__title{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 48px;
    text-align: left;
    margin: 0 0 0 45px;
  }
  &__adv{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 20px 0 20px 45px;
    color: $colorTextAdv;
  }
  &__additive{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 0 0 0 45px
  }
  &__portions{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-left: 45px;
    max-width: 120px;
    word-wrap: break-word;
    color: $colorTextAdv;
    &_bold{
      font-weight: 600;
    }
  }
  &__cat{
    background-image: url('../img/funbox_logo.png');
    background-repeat: no-repeat; 
    background-size: 370px 370px;
    position: absolute;
    left: -35px;
    bottom: -100px;
    z-index: 3;
    width: 370px;
    height: 370px;
  }
  &__weight{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    margin: 12px;
  }
}
.weight{
  background-color: $colorBlockDefault;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  &__kg{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 42px;
    line-height: 22px;
    color: $colorTextTitle;
    margin: 20px 0 0 0;
  }
  &__text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 21px;
    line-height: 22px;
    margin: 10px 00;
    color: $colorTextTitle;
  }
}

.block-down{
  text-align: center;
  margin-top: 15px;
  &__text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: $colorTextTitle;
  }
  &__link{
    color: $colorTextLink;
    text-decoration: none; 
    border-bottom: 1px dashed $colorTextLink;;
  }
}
